.nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 20px;
    padding-left: 20px;
    font-weight: 600;
}

body {
    background-color: #eee6da;
    margin-right: 50px;
}

.nav_marg {
    margin: 15px;
}

.main_contenu {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    margin-left: 30px;
}

.main_image {
    padding-top: 70px;
}

.button {
    text-decoration: none;
    background-color: #6a3b77;
    padding: 18px;
    margin-left: 42px;
    color: white;
    border-radius: 5px;
}

.main_contenu h1 {
    font-weight: 600;
    font-size: 60px;
    margin-left: 35px;
}

.main_contenu ol {
    list-style: circle;
}

.main_ol li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.main_ol li .cercle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #6a3b77;
    /* Couleur violette */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    margin-right: 15px;
}

.p_center {
    text-align: center;
    padding-top: 80px;
    font-size: 20px;
}

.p_center a {
    color: rgb(14, 114, 164);
}