.nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 20px;
    padding-left: 20px;
    font-weight: 600;
}

body {
    background-color: #eee6da;
    margin-right: 50px;
}

.nav_marg {
    margin: 15px;
}

.main_contenu {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    margin-left: 30px;
}

.main_image {
    padding-top: 70px;
}

.button {
    text-decoration: none;
    background-color: #6a3b77;
    padding: 18px;
    margin-left: 42px;
    color: white;
    border-radius: 5px;
}

.main_contenu h1 {
    font-weight: 600;
    font-size: 60px;
    margin-left: 35px;
}

.main_contenu ol {
    list-style: circle;
}

.main_ol li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.main_ol li .cercle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #6a3b77;
    /* Couleur violette */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    margin-right: 15px;
}

.p_center {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 70px;
    font-size: 20px;
}

.p_center a {
    color: rgb(14, 114, 164);
}

.part_mobile {
    display: flex;
    flex-direction: row;
}

.p_mobile {
    text-align: left;
    margin-left: 80px;
    padding-top: 50px;
}

.p_mobile a {
    color: rgb(14, 114, 164);
}

.p_mobile h2 {
    font-weight: 600;
    font-size: 40px;
}

.p_mobile p {
    font-weight: 600;
    font-size: 20px;
}

.main_color {
    margin-top: 70px;
    background-color: #4b2057;
    /* arc arrondi */
    border-bottom-left-radius: 50% 100px;
    border-bottom-right-radius: 50% 100px;
    padding: 80px;
    margin-bottom: 50px;
    width: 90%;
    margin-right: 5px;
}

.main_color h1 {
    text-align: center;
    font-size: 50px;
    color: white;
}

.bt1 a:hover {
    background-color: #f5f2ed;

}

.main_button {
    text-decoration: none;
    text-align: center;
}

.main_button .bt1 {
    margin: 5px;
    text-decoration: none;
    color: #4b2057;
    font-weight: 600;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}

.main_button .bt2 {
    margin: 5px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.changer {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}

.changer img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    position: relative;
    top: 18px;
}

.changer p {
    font-weight: 600;
}

.footer_icones img {
    width: 18px;
    margin-right: 25px;
    position: relative;
    left: 300%;
    top: 18px;

}

.footer_image {
    display: flex;
    flex-direction: row;
}

.footer_line {
    border-bottom: 1px solid rgb(173, 165, 165);
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 40px;
}

.footer_info {
    display: flex;
    flex-direction: row;
}

.footer_rensigement {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 10%;
}

.footer_rensigement li {
    list-style: none;
    text-decoration: none;
    color: white;
}

.footer_rensigement a {
    text-decoration: none;
    color: rgba(20, 19, 19, 0.282);
}

.footer_rensigement a:hover {
    color: rgb(45, 45, 178);
}

.footer_logo {
    margin-top: 40px;
    margin-left: 50px;
}

.footer_rensigement p {
    font-weight: 600;
}

.dwld {
    display: flex;
    flex-direction: row;
}

.dwld p a {
    color: rgb(45, 45, 178);
    font-weight: 600;
    text-decoration: none;
    margin-left: 50px;
}

.dwld .logo_dwld {
    width: 20px;
    height: 20px;
    position: relative;
    top: 17px;
    margin-left: 7px;

}

.footer_link a {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    color: rgba(20, 19, 19, 0.282);
    margin: 20px;
}

.footer_link {
    display: flex;
    flex-direction: row;
    margin-left: 3%;
}

.footer_link a:hover {
    color: rgb(45, 45, 178);
}

.footer_fin {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.footer_fin p {
    margin-left: 20%;
}

.dwld .slack {
    position: relative;
    bottom: 20px;
}


.footer_link .preference {
    position: relative;
    bottom: 20px;
    left: 20px;
}

/* responsivite */
@media(max-width:390px) {
    .nav_bar {
        flex-direction: column;
    }

    .main_contenu {
        flex-direction: column;
        margin: 0px;

    }

    .button {
        padding: 10px;

    }

    .main_contenu h1 {
        font-weight: 600;
        font-size: 30px;
    }

    .main_contenu .main_ol {
        font-weight: 200;
    }

    .main_contenu .main_image {
        display: none;
    }

    .p_center {
        text-align: justify;
    }

    .img_mobile {
        display: none;
    }

    .part_mobile {
        flex-direction: row;
        width: 50px;
    }

    .p_mobile {
        margin-left: 0px;
        padding-top: 0px;
    }

    .main_color h1 {
        font-size: 40px;
    }

    .main_button {
        display: block;
        flex-direction: column;
    }

    .main_button .bt1 {
        display: block;
        margin-bottom: 30px;
        padding: 5px;
    }

    .footer_image {
        flex-direction: column;
    }

    .main_button .bt2 {
        padding: 5px;
    }

    .footer_icones {
        display: none;
    }

    .footer_info {
        flex-direction: column;
        margin: 0;
    }

    .footer_rensigement {
        flex-direction: column;
        margin: 0;
    }

    .footer_fin {
        flex-direction: column;
    }

    .footer_fin p {
        margin-left: 0px;
    }

    .footer_link {
        flex-direction: column;
    }

    .dwld .slack {
        position: relative;
        bottom: 0;
    }
}